.App {
  text-align: left;
}
.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.circle {
  max-height: 8rem;
}
.logoText {
  max-height: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
